<form action="" method='put' id="banner_details">
	<table>
		<tr>
			<td>Banner name:</td>
			<td><input type='text' name="banner[name]" class='required' id="bannerName" /></td>
		</tr>
		<tr>
			<td>Type:</td>
			<td> <span class='display_bid_type'></span>  <span class='display_ad_type'></span></td>
		</tr>
		<tr>
			<td>Max <span class='display_bid_type'></span> bid:</td>
			<td>$<input type='text' name="banner[max_bid]" class='required number' id="bannerBid"></td>
			
		</tr>
		<tr>
			<td>Daily budget</td>
			<td>$<input type="text" class="required number" name="banner[daily_budget]" id="bannerDailyBudget"></td>
		</tr>
	</table>
</form>